<% provide(:title, 'Editando pago') %>
  <% provide(:button_text, 'Actualizar pago') %>
    <!-- <div class='profesional-header'> <p class='bg-info text-white'><%= @profesional.apellido.downcase %>&ensp;<%= @profesional.nombres.downcase %></p> </div> </br> <h1>Editando Pago</h1> -->

    <%= render 'form', pago: @pago %>

    <%= link_to 'Atras', profesional_pagos_path(@pago.profesional) %>
