<% provide(:title, 'Nuevo pago') %>
<% provide(:button_text, 'Crear pago') %>
<!-- <div class='profesional-header'> <p class='bg-info text-white'><%= @profesional.apellido.downcase %>&ensp;<%= @profesional.nombres.downcase %></p> </div> <h1>Nuevo Pago</h1> -->

<%= render 'form', pago: @pago %>

<%= link_to 'Volver', profesional_pagos_path %>
