<div class='profesional-header'>
  <p class='bg-info text-white'><%= @profesional.apellido.downcase %>&ensp;<%= @profesional.nombres.downcase %></p>
</div>

<h1>Nuevo Pago</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'form', pago: @pago %>
    </div>
</div>
<%= link_to 'Atras', profesional_pagos_path %>
