<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Guardar cambios') %>
<h1>Actualiza tus datos</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    
  </div>
</div>
