<% provide(:title, @user.email) %>
  <h1>
    Perfil Profesional
  </h1>

  <h2>
    <%= @user.email %>
  </h2>

  <% unless current_user.admin? %>
    <%= render partial: 'profesionales/show_limited', locals: { profesional: @user.profesional }%>
  <%end  %>
