    <% provide(:title, "Reportes") %>
    <h1>Reportes</h1>


    <%= link_to "Pagos Reporte", pagos_reporte_path, :target => "_blank", :class => "btn btn-primary" %>
  <br>
  <br>
    <%= link_to "Profesionales Reporte", profesionales_reporte_path, :target => "_blank", :class => "btn btn-primary" %>
