div.container-fluid.search-box {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #ADADAD;
  padding: 15px;
  .row.pl20 {
    padding-left: 20px;
  }
}
